[Unit]
Description=Meteo API Service with Docker Compose

[Service]
WorkingDirectory=/opt/meteo-api
ExecStart=/usr/bin/docker compose up -d

[Install]
WantedBy=multi-user.target
